@{
    ViewData["Title"] = "Home Page";
}

<!-- Frontpage Slider -->
<div class="frontslider-wrap">
	<div class="responisve-container">
		<div class="slider" id="front-slider">
			<div class="slide">
				<img src="~/img/front-slider/1.png"
					 data-position="45,430" data-in="fade" data-delay="0" data-out="fade" alt="American Legends">
				<p class="caption1"
				   data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">AMERICAN</p>
				<p class="caption2"
				   data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">LEGENDS</p>
			</div>
			<div class="slide">
				<img src="~/img/front-slider/2.png"
					 data-position="50,518" data-in="fade" data-delay="0" data-out="fade" alt="Legendary Bike">
				<p class="caption1"
				   data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">OFFROAD</p>
				<p class="caption2"
				   data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">KING</p>
			</div>
			<div class="slide">
				<img src="~/img/front-slider/3.png"
					 data-position="21,480" data-in="fade" data-delay="0" data-out="fade" alt="Dream Car">
				<p class="caption1"
				   data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">DREAM</p>
				<p class="caption2"
				   data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">CARS</p>
			</div>
		</div>
	</div>
</div>

<!-- Categories List -->
<div class="cont">
	<ul class="frontcategs">
		<li>
			<a href="#">
				<span class="frontcategs-img">
					<img src="~/img/front-categories/frcateg1.png" alt="">
					<img src="~/img/front-categories/frcateg1h.png" alt="">
				</span>
				<p>Carros</p>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="frontcategs-img">
					<img src="~/img/front-categories/frcateg2.png" alt="">
					<img src="~/img/front-categories/frcateg2h.png" alt="">
				</span>
				<p>Motos</p>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="frontcategs-img">
					<img src="~/img/front-categories/frcateg3.png" alt="">
					<img src="~/img/front-categories/frcateg3h.png" alt="">
				</span>
				<p>ATVs</p>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="frontcategs-img">
					<img src="~/img/front-categories/frcateg5.png" alt="">
					<img src="~/img/front-categories/frcateg5h.png" alt="">
				</span>
				<p>UTVs</p>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="frontcategs-img">
					<img src="~/img/front-categories/frcateg7.png" alt="">
					<img src="~/img/front-categories/frcateg7h.png" alt="">
				</span>
				<p>Motos de Agua</p>
			</a>
		</li>
	</ul>
</div>